{{  form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-warning">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

<style>
    #product_submit {
        display: none;
    }
</style>
