{% extends 'base.html.twig' %}

{% block title %}New BlogPost{% endblock %}

{% block main %}
    <div class="container">
        <h1>Blog post aanmaken</h1>
        <button><a href="">Foto's omzetten</a></button>
        {{ form_start(form) }}
        {{ form_end(form) }}
        <a href="{{ path('blog_post_index') }}">back to list</a>
        {{ tinymce_init({'theme': {'simple': {'menubar': false}}}) }}
    </div>
{% endblock %}
