{% extends 'base.html.twig' %}

{% block title %}BlogPost{% endblock %}

{% block main %}
                <h4>Naam</h4>
                {{ blog_post.naam }}

                <h4>Verhaal</h4>
    {{ blog_post.verhaal }}

{% endblock %}
