{% extends 'base.html.twig' %}
{% block main %}
    <textarea class="tinymce"></textarea>
    {{ tinymce_init({
        theme: {'simple':{'language': app.request.locale, 'height': 500 }},
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
        autosave_ask_before_unload: false,
       })
    }}

    <button> Goan</button>

{% endblock %}