{% extends 'base.html.twig' %}

{% block main %}
    <div class="container">
        <h1>Kweker toevoegen</h1>

        {{ include('admin/kweker/_form.html.twig') }}

        <a class="btn btn-success" href="{{ path('admin_karper_index') }}">Terug naar lijst</a>
    </div>
{% endblock %}
