{% extends 'base.html.twig' %}

{% block main %}
    <section class="pt-7 pb-12">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <!-- Heading -->
                    <h3 class="mb-10 text-center">Over het bedrijf</h3>

                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-12 col-md-4 col-xl-3">
                    <aside class="mb-9 mb-md-0">

                        <!-- Heading -->
                        <h6 class="mb-6">
                            <i class="fe fe-phone text-primary mr-4"></i> Bellen?
                        </h6>

                        <!-- Text -->
                        <p class="text-gray-500">
                            Maandag t/m vrijdag van 13.00 - 17.30 uur. Elke woensdag gesloten.
                        </p>
                        <p>
                            <strong>Telefoon:</strong><br>
                            <a class="text-gray-500" href="tel:60146-389-574">0174 - 245000</a>
                        </p>
                        <p>
                            <strong>Fax:</strong><br>
                            <a class="text-gray-500" href="tel:60146-389-574">0174 - 244424</a>
                        </p>
                        <p class="mb-0">
                            <strong>Mobiel:</strong><br>
                            <a class="text-gray-500" href="tel:60146-389-574">06 - 59493929</a>
                        </p>

                        <!-- Divider -->
                        <hr>

                        <!-- Heading -->
                        <h6 class="mb-6">
                            <i class="fe fe-mail text-primary mr-4"></i> Mailen?
                        </h6>

                        <!-- Text -->
                        <p class="text-gray-500">
                            Vul het formulier in.
                        </p>
                        <p class="mb-0">
                            <strong>e-mailadres</strong><br>
                            <a class="text-gray-500" href="mailto:customer@example.com">info@koi-kas.nl</a>
                        </p>

                        <!-- Divider -->
                        <hr>

                        <!-- Heading -->
                        <h6 class="mb-6">
                            <i class="fe fe-mail text-primary mr-4"></i> Locatie:
                        </h6>

                        <!-- Text -->
                        <p class="mb-0 text-gray-500">
                            Molenweg 37a <br> 2681 RE Monster
                        </p>

                        <!-- Button -->
                        <p class="mb-0">
                            <a class="btn btn-link px-0 text-body" target="_blank"
                               href="https://www.google.nl/maps/place/Molenweg+37A,+2681+RE+Monster/@52.0279041,4.1798631,17z/data=!3m1!4b1!4m5!3m4!1s0x47c5adff44ba4dd5:0xbe38e997edc69ccf!8m2!3d52.0279008!4d4.1820518">
                                Ga naar Google Maps <i class="fe fe-arrow-right ml-2"></i>
                            </a>
                        </p>

                    </aside>
                </div>
                <div class="col-12 col-md-8">
                    <section class="py-12">
                        <div class="container">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-12 col-md-5">

                                    <!-- Image -->
                                    <div class="text-right mb-md-9">
                                        <img src="https://via.placeholder.com/500" alt="" class="img-fluid">
                                    </div>

                                </div>
                                <div class="col-12 col-md-9 col-lg-7">

                                    <!-- Preheading -->
                                    <h6 class="heading-xxs mb-3 text-gray-400">
                                        Ons verhaal
                                    </h6>

                                    <!-- Heading -->
                                    <h2 class="mb-7">Over Koi Kas</h2>

                                    <!-- Text -->
                                    <p class="font-size-lg text-muted">
                                        Koi-Kas Westland is een gerenormeerd bedrijf gespecialiseerd in koi en
                                        vijveraanleg. Advies, begeleiding, service en kwaliteit zijn kernbegrippen
                                        binnen ons bedrijf en kunnen terugvallen op ruim 30 jaar ervaring in het hebben,
                                        importeren , houden en opbouwen van koivijvers en koi.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
