{% extends 'base.html.twig' %}
{% block main %}
    <div class="container-fluid">
    <div class="mx-auto row no-gutters d-block d-lg-flex flickity flickity-lg-none"
         data-flickity="{&quot;watchCSS&quot;: true}">
            <!-- Item -->
        <!-- Item -->
        <div class=" mx-auto col-lg-3 col-xs-10 d-flex flex-column bg-cover"
             style=" background-image: url({{ product.image }}); margin-top: 4vh; margin-bottom: 4vh">
            <div class="card bg-dark-5 bg-hover text-white text-center" style="min-height: 470px;">
                <div class="card-body mt-auto mb-n11 py-8">

                    <!-- Heading -->
                    <h1 class="mb-0 font-weight-bolder">
                        {{ product.naam }}
                    </h1>

                </div>
                <div class="card-body mt-auto py-8">

                    <!-- Button -->
                    <a class="btn btn-white " href="{{ path('admin_product', {id: product.id}) }}">
                        Bekijken <i class="fas fa-arrow-right"></i>
                    </a>

                    <a class="btn btn-white" href="{{ path('product_wijzigen', {id: product.id}) }}">
                        Bewerken <i class="fas fa-arrow-right"></i>
                    </a>

                    <a class="btn btn-white" href="#">
                        Verwijderen <i class="fas fa-arrow-right"></i>
                    </a>


                </div>
            </div>
        </div>

    </div>


{% endblock %}