{% extends 'base.html.twig' %}
{% block main %}
    <p>De naam is gewoon de naam van het soort.</p>
    <p>De zoeknaam moet de naam zijn maar dan zonder spaties of leestekens zoals: - , . _</p>
    {{ form(form) }}
{% endblock %}